<h1>Stupid Coaching</h1>
  <p>Ask your coach anything</p>
  <form action="answer" class="input-group" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="question" class="form-control">
    <div class="input-group-append">
      <input type="submit" value="Ask!" class="btn btn-outline-secondary" id="orange">
    </div>
  </form>
